.sampleToastNotification{
  padding: 0px 10% 70px 10%;
  .container{
    .subTitle{
      font-size: 60px;
      @media only screen and (max-width: 600px){
        font-size: 40px;
      }
    }
    .toastList{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 40px;
      margin-top: 50px;
    }
  }
}