.header{
  width: 100%;
  height: 100vh;
  background-image: url('../public/images/benHeader2.png');
  background-size: cover;
  background-position: center;
  @media only screen and (max-width: 600px){
    background-image: url('../public/images/benheaderp2.png');
  }
  .container{
    padding: 10px 10%;
    .nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      h3{
        font-size: 50px;
        color: var(--red);
        span{
          color: #fff;
        }
      }
      .logo{
        width: 140px;
      }
      ul{
        li{
          display: inline-block;
          list-style: none;
          margin: 10px 20px;
          a{
            color: var(--font);
            text-decoration: none;
            font-size: 18px;
            position: relative;
            &:after{
              content: '';
              width: 0;
              height: 3px;
              background: var(--red);
              position: absolute;
              left: 0;
              bottom: -6px;
              transition: 0.5s;
            }
            &:hover::after{
              width: 100%;
            }
          }
          @media only screen and (max-width: 600px){
            display: block;
            margin: 25px;
          }
        }
        i{
          @media only screen and (max-width: 600px){
            // left: 25px;
          }
        }
        @media only screen and (max-width: 600px){
          background-color: var(--red);
          position: fixed;
          top: 0;
          right: -200px;
          width: 180px;
          height: 100vh;
          padding-top: 50px;
          z-index: 2;
          transition: right 0.5s;
        }
      }
      i{
        display: none;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
        @media only screen and (max-width:600px) {
          display: block;
          font-size: 25px;
        }
      }
    }
    .headerText{
      margin-top: 20%;
      font-size: 30px;
      color: var(--font);
      @media only screen and (max-width: 600px){
        margin-top: 100%;
        font-size: 16px;
      }
      h1{
        font-size: 60px;
        margin-top: 20px;
        @media only screen and (max-width: 600px){
          font-size: 30px;
        }
        span{
          color: var(--red);
        }
      }
    }
  }
}