.projects2{
  padding-bottom: 80px;
  .container{
    padding: 10px 10%;
    .subTitle{
      font-size: 60px;
      @media only screen and (max-width: 600px){
        font-size: 40px;
      }
    }
    .list{

    }
  }
}